body {
  margin: 0px;
  position: relative;
}

.bar {
  display: block;
  background-color: #101111;
}

.bar h1 {
  margin: 0px;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  padding: 10px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

.profile-photo-div {
  width: 250px;
  height: auto;
  border-radius: 10px;
  transition: ease 0.3s;
}

.profile-img-div {
  display: block;
  position: relative;
  overflow: hidden;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #56e0e0;
  z-index: 10;
  transition: 0.3s;
}

#profile-img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#change-photo {
  display: none;
}

.profile-buttons-div {
  position: relative;
  display: block;
}

.button {
  position: relative;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #080f0f;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:hover {
  letter-spacing: 1px;
}

.button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  opacity: 0;
  transition: 0.9s;
}

.button:hover:after {
  transform: scale(50);
  opacity: 1;
}

.button.half {
  width: 50%;
}

.green {
  background-color: #15ae6b;
}

.red {
  background-color: #ae0000;
}

#x-position {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#y-position {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  display: none;
}

canvas {
  position: fixed;
  top: -2000px;
  left: -2000px;
  z-index: -1;
}

.profile-img-confirm {
  display: flex;
  width: 100%;
}

.error {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: red;
  text-align: center;
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

.main-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.upload-main-wrapper {
  width: 220px;
  margin: 0 auto;
}

#file-upload-name {
  margin: 4px 0 0 0;
  font-size: 12px;
}

.upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px auto 0;
  position: relative;
  cursor: pointer;
  background-color: #bcaef5;
  padding: 8px 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s linear all;
  color: #ffffff;
}

.upload-wrapper input[type=file] {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
}

.upload-wrapper > svg {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.upload-wrapper.success > svg {
  transform: translateX(-200px);
}

.upload-wrapper.uploaded {
  transition: 0.2s linear all;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  text-align: center;
}

.upload-wrapper .file-upload-text {
  position: absolute;
  left: 80px;
  opacity: 1;
  visibility: visible;
  transition: 0.2s linear all;
}

.upload-wrapper.uploaded .file-upload-text {
  text-indent: -999px;
  margin: 0;
}

.file-success-text {
  opacity: 0;
  transition: 0.2s linear all;
  visibility: hidden;
  transform: translateX(200px);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-success-text svg {
  width: 25px;
  height: auto;
}

.file-success-text span {
  margin-left: 15px;
}

.upload-wrapper.success .file-success-text {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.upload-wrapper.success.uploaded .file-success-text {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.upload-wrapper.success.uploaded .file-success-text span {
  display: none;
}

.upload-wrapper .file-success-text circle {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transition: 1s linear all;
  transition-delay: 1.4s;
}

.upload-wrapper.success .file-success-text circle {
  stroke-dashoffset: 0;
}

.upload-wrapper .file-success-text polyline {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transition: 1s linear all;
  transition-delay: 2s;
}

.upload-wrapper.success .file-success-text polyline {
  stroke-dashoffset: 0;
}

.upload-wrapper.success .file-upload-text {
  animation-name: bounceOutLeft;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}/*# sourceMappingURL=style.css.map */